body {
  margin: 0;
}

.logo {
  width: 180px;
  height: 47px;
}


/* Header */
.header {
  padding: 60px 130px 190px 130px;
  width: 100%;
  background: #3030c1;
}

.header__main {
  display: flex;
  padding-top: 78px;
  max-width: 1280px;
}

.header__text {
  margin-top: 25px;
  width: 52%;
}

.header__title {
  font: 800 45px/55px Gilroy;
  color: #fff;
  margin-bottom: 32px;
}

.header__subtitle {
  font: 800 30px/37px Gilroy;
  color: #fc3;
  margin-bottom: 5px;
  width: 70%;
}

.header__content {
  font: 300 20px/23px Gilroy;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
  width: 80%;
}

.header__button {
  font: 900 20px/24px Montserrat;
  background: #fc3;
  color: #3030c1;
  text-align: center;
  width: 216px;
  height: 54px;
  padding: 15px 23px;
  transition: opacity .5s;
  border: 0;
}

.header__button:hover {
  opacity: .5;
  cursor: pointer;
}

.header__pic{
  flex-shrink: 1;
}

.wrapper {
  background: #fff;
}

/* Wrapper */

.title {
  font: 800 40px/49px Gilroy;
  text-align: center;
}

.plans__subtitle {
  font: 800 30px/37px Gilroy;
  color: #3030c1;
}

.plans__text {
  font: 800 20px/25px Gilroy;
}

.plans__logo {
  width: 115px;
  height: 115px;
}

.title-content {
  font: 300 30px/35px Gilroy;
  text-align: center;
}

/* Mobile version */
@media (max-width: 1150px) {
  .logo {
    width: 93px;
    height: 24px;
  }

  .header {
    padding: 38px 0px 50px 30px;
  }

  .header__main {
    display: block;
    padding-top: 0px;
  }

  .header__text {
    width: 100%;
  }

  .header__title {
    width: 70%;
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 23px;
  }

  .header__subtitle {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 0px;
  }

  .header__content {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 25px;
  }

  .header__pic{
      width: 259px;
      height: 213px;
    }

  .header__button {
    display: none;
  }
}

@media (min-width: 14400px) {

}
