body {
  margin: 0;
}

.logo {
  width: 180px;
  height: 47px;
}

.header {
  background: #3030c1;
  padding: 60px 130px 190px 130px;
}

.header__main {
  display: flex;
  padding-top: 85px;
}

.header__text {
  margin-top: 25px;
  width: 52%;
}

.header__title {
  font: 800 45px/55px Gilroy;
  color: #fff;
  margin-bottom: 32px;
}

.header__subtitle {
  font: 800 30px/37px Gilroy;
  color: #ffcc33;
  margin-bottom: 5px;
  width: 80%;
}

.header__content {
  font: 300 20px/23px Gilroy;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
}

.header__button {
  font: 900 20px/24px Montserrat;
  background: #FFCC33;
  color: #3030c1;
  text-align: center;
  width: 216px;
  height: 54px;
  padding: 15px 23px;
  transition: opacity .5s;
  border: 0;
}

.header__button:hover {
  opacity: .5;
  cursor: pointer;
}
